body {
  background-color: #f8f9fa; /* Light background */
  font-family: "Arial", sans-serif;
}

h4 {
  color: #007bff;
}

.card {
  border-radius: 15px;
  position: relative;
}
.degree-option {
  width: fit-content;
}
.degree-option img,
.state-option img {
  border-radius: 50%;
  transition: transform 0.3s;
}

.degree-option img:hover,
.state-option img:hover {
  transform: scale(1.1);
}

.degree-option p,
.state-option p {
  margin: 0;
  font-size: 14px;
}

.back-btn:hover {
  transform: scale(1.1);
}

button i {
  margin-left: 5px;
}
/* Styling for selected options */
/* .selected {
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #e8f4ff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  transform: scale(1.05);
  transition: all 0.2s;
} */

/* Default unselected state */
/* .unselected {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
  transition: all 0.2s;
} */

/* On hover for unselected items */
/* .unselected {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  cursor: pointer;
  background-color: white;
} */

.board,
.continue-btn {
  background-color: rgba(110, 149, 194, 1);
  color: white;
  border: none;
  font-size: 1.25rem;
  padding: 0.8rem 2rem;
  transition: all 0.3s ease;
  width: fit-content;
}
.board:hover {
  /* color: black;
  border-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 5px rgba(8, 0, 255, 0.3); */
  background-color: rgba(110, 149, 194, 1);
  color: white;
  transform: scale(1.05);
}

.continue-btn:hover {
  transform: scale(1.05);
}
.stp-btn {
  background-color: transparent;
  border: 2px solid rgba(110, 149, 194, 1);
  color: rgba(110, 149, 194, 1);
}

.step-btn:hover {
  background-color: rgba(110, 149, 194, 1);
  transform: scale(1.05);
}
